@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&family=Roboto:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&family=Major+Mono+Display&family=Monoton&display=swap");

:root {
  --border-size: 1px;
  --border-color: #030a0d;
  --background-theme-w: hsl(210deg 5% 65%);
  --nav-height: 2rem;
  --vh: 1vh; /* Define variable for viewport height */
  --headerAreaHeight: 2rem; /* Define variable for header area height */
}
p {
  text-align: start;
}
ul {
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  all: initial;
}

* {
  padding: 0px;
  margin: 0px;
  color: black;
}

body {
  margin: 0px;
  font-family: "Kode Mono", sans-serif;
  font-size: 17px;
  color: #fff;
  background-color: #000000;
  background-color: var(--background-theme-w);
}
/* #546B74 */

.nav {
  top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: var(--nav-height);
  text-align: center;
  /* background-color: var(--background-theme-w); */
  border-bottom: var(--border-size) solid var(--border-color);
  /* backdrop-filter: blur(3px); */
  /* opacity: 0.4; */
}
.nav-title {
  position: absolute;
  left: 0.5rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-family: "Anta", sans-serif;
  font-weight: 100;
  /* background-color: rgba(108, 67, 34, 0.858); */
}
.pages-tray {
  position: absolute;
  right: 0;
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Anta", sans-serif;
  font-weight: 100;
  /* gap: 0.5rem; */
  /* background-color: rgba(108, 67, 34, 0.858); */
}
.pages-tray > div,
.pages-tray > a {
  height: 100%;
  /* background-color: var(--background-theme-w); */
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-left: var(--border-size) solid var(--border-color);
  font-size: small;
  cursor: pointer;
  font-family: inherit;
  transition: all 300ms ease;
}
.pages-tray > div:hover,
.pages-tray > a:hover {
  background-color: var(--background-theme-w);
  mix-blend-mode: difference;
}

.wrapper {
  position: relative;
  height: calc(
    var(--vh) * 100 - (var(--headerAreaHeight) + var(--border-size))
  );
  overflow: hidden;
  background-color: var(--background-theme-w);
  margin: 0.5rem;
  border: var(--border-size) solid var(--border-color);
  /* border-top: none; */
  /* box-shadow: -3px 3px 0px 0px #242424a2; */
}
.content {
  position: relative;
  top: var(--nav-height);
  overflow-y: auto;
  height: calc(100% - var(--nav-height));
  display: flex;
  justify-content: center;

  /* background-color: #030a0d; */
}
.content > p {
  width: 90%;
  text-align: center;
  margin: 1rem;
  /* margin: auto; */
}
.cardOne {
  margin: 10px 0px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.big-text-title {
  /* position: absolute; */
  margin-left: 1rem;
  font-size: 12vw;
  white-space: nowrap;
  font-family: "Major Mono Display", sans-serif;
  font-weight: 600;
}



/* use media querys mobile and tablet size */