<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon" />
    <title>EdilsonJMavone</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/components/home/home.css" />
  </head>
  <body>
    <div class="wrapper">
      <nav class="nav">
        <div class="nav-title">
          <div>Edilson's Portfolio</div>
        </div>
        <div class="pages-tray">
          <a href="index.html">
            <div class="home-page-btn">HOME</div>
          </a>
          <a href="about.html">
            <div class="about-page-btn">ABOUT</div>
          </a>
          <a href="projects.html">
            <div class="projects-page-btn">PROJECTS</div>
          </a>
          <!-- <div class="contact-page-btn">CONTACT</div> -->
        </div>
      </nav>
      <div class="content" id="content">
        <!-- TODO:Use htmx to dynamically change the inner html of div#content -->
        
      </div>
    </div>
  </body>
</html>
