.projectContent {
  margin: 40px;
  padding: 20px;

  margin-left: 40px;
  margin-right: 40px;

  width: 70rem;
  max-width: 65rem;
  min-width: 310px;
  /* background-color: rgba(127, 255, 212, 0.589); */
}
.title {
  font-size: 4rem;
  font-family: "Major Mono Display", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800px;
  /* border-bottom: 2px solid black; */
}
.projectList {
  margin: 2rem;
  padding: 1rem;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.project {
  padding: 0.2rem;
  width: 100%;
  /* background-color: rgb(190, 145, 145); */
  height: 50px;
  border-bottom: 2px solid black;
  cursor: pointer;
  /* display: flex; */

}

.descrition {
  overflow: hidden;
  /* transition: max-height 0.5s ease, opacity 0.5s ease; */
  display: flex;
  transition: all 420ms cubic-bezier(0, 0, 0.22, 1.9);
  opacity: 0.6;

}

.project:hover .descrition {
  transform: translateX(10px);
  opacity: 1;
  cursor: pointer;
}


.project-title {
  font-size: 1.4rem;
}
