<div class="contactContent">
  <div class="title">$ls /projects_</div>

  <div class="contactList">
    <div class="contact">
      <div class="contact-title">res_api</div>
      <div class="descrition">
        <span>A basic REST API built with TypeScript </span>
        <small> | Oct 21 2024 </small>
      </div>
    </div>

    <div class="contact">
      <div class="contact-title">cubes</div>
      <div class="descrition">
        <span>Little game with HTML Canvas & Javascript</span>
        <small> | Oct 21 2024 </small>
      </div>
    </div>
  </div>
</div>
