<div class="aboutContent">
  <div class="title">$whoami_</div>
  <div class="contentFrame">
    <div class="aboutContentGridItems aboutText">
      <p>
        I'm Edilson José Mavone, a 19 year old from Maputo, Mozambique. I have
        completed my studies in Technical Support Informatics at Instituto de
        Transportes e Comunicações <strong>ITC</strong> (CV4) and previously
        finished a course in Industrial Electricity (CV3) there.<br />I
        graduated from Escola Secundária das Acácias with a final average of 17
        values and completed my primary education at Colégio Arco-íris and
        Escola Primária Completa Externato Junica <br />Professionally, I have
        trained in Industrial Electricity and work as a Junior Web Developer,
        with skills in JavaScript, HTML5, and CSS3. I am also fluent in English,
        holding a CEFR Level C1 and an EnglishScore of 519 points.
      </p>
    </div>

    <div class="line"></div>
    <div class="aboutContentGridItems contactsText">
      <p>
        <a href="https://github.com/edilsonjmavone"
          >My <strong>Github</strong></a
        >
      </p>
      <p>My email: <strong>edil200jusi@gmail.com</strong></p>
      <p>Cell: <strong>+258 842 254 913</strong></p>
      <p>Cell: <strong>+258 868 377 547</strong></p>
    </div>
  </div>
</div>
